Checks: "-*,\
cppcoreguidelines-*,\
modernize-*,\
portability-*,\
readability-*,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-narrowing-conversions,\
-cppcoreguidelines-avoid-c-arrays,\
-cppcoreguidelines-pro-type-union-access,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-pro-type-vararg,\
-cppcoreguidelines-avoid-magic-numbers,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-modernize-avoid-c-arrays,\
-modernize-use-trailing-return-type,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
-readability-uppercase-literal-suffix,\
-readability-named-parameter,\
-readability-identifier-length,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-modernize-use-auto,\
-modernize-loop-convert
"